[
    {
        "name": "readme.c",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c help",
        "val-args": " help",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 1G timeout 10s",
        "val-args": " size 1G timeout 10s",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c timeout 1s timeout infinity",
        "val-args": " timeout 1s timeout infinity",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c timeout 1s auto infinity",
        "val-args": " timeout 1s auto infinity",
        "files": [ "readme.c" ]
    }
]
