[
    {
        "name": "readme.c help",
        "val-args": " help",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10m",
        "val-args": " size 10m",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10M",
        "val-args": " size 10M",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10MiB",
        "val-args": " size 10MiB",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10Mibytes",
        "val-args": " size 10Mibytes",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10MB",
        "val-args": " size 10MB",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10MBytes",
        "val-args": " size 10MBytes",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10Mb",
        "val-args": " size 10Mb",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 10Mibits",
        "val-args": " size 10Mibits",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c time 10s",
        "val-args": " time 10s",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c time 10m",
        "val-args": " time 10m",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c time 10h",
        "val-args": " time 10h",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c time 10d",
        "val-args": " time 10d",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c bad",
        "val-args": " bad",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size",
        "val-args": " size",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 0",
        "val-args": " size 0",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size NaN",
        "val-args": " size NaN",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c time 1y",
        "val-args": " time 1y",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size -1",
        "val-args": " size -1",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 0xFF",
        "val-args": " size 0xFF",
        "files": [ "readme.c" ]
    },
    {
        "name": "readme.c size 010",
        "val-args": " size 010",
        "files": [ "readme.c" ]
    }
]
